<div>
    <div class="recommendations">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../../../assets/images/author1.jpg" width="70" class="rounded-circle" alt="...">
            </div>
            <div class="flex-grow-1 ms-3 person">
             <h6>James Anderson</h6>
             <span>Photographer</span>
             <button class="btn"> <i class="far fa-plus"></i>Follow</button>
            </div>
          </div>
    
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../../../assets/images/author2.jpg" width="70" class="rounded-circle" alt="...">
            </div>
            <div class="flex-grow-1 ms-3 person">
             <h6>Steven Smitn</h6>
             <span>Web Developer</span>
             <button class="btn"> <i class="far fa-plus"></i>Follow</button>
            </div>
          </div>
    
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../../../assets/images/author3.jpg" width="70" class="rounded-circle" alt="...">
            </div>
            <div class="flex-grow-1 ms-3 person">
             <h6>Alina Eva</h6>
             <span>UI/UX Designer</span>
             <button class="btn"> <i class="far fa-plus"></i>Follow</button>
            </div>
          </div>
    </div>
</div>